@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    color: #333333;
}

#counter-main{
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: #ededed;

}

#counter{
    font-size: 8rem;
    min-width: 20rem;
    max-width: 90vw;
    padding: 5rem;
    height: 20rem;
    background: #ededed;
    text-align: center;
    border-radius: 2rem;
    box-shadow: -5px -5px 15px #FEFEFE, 5px 5px 15px #DCDCDC, inset 5px 5px 10px #FEFEFE, inset -5px -5px 10px #DCDCDC;
    overflow-x: scroll
}

#controls{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem
}


button {
    color: #333333;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: #ededed;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -5px -5px 15px #FEFEFE, 5px 5px 15px #DCDCDC, inset 5px 5px 10px #FEFEFE, inset -5px -5px 10px #DCDCDC;
    font-size: 16px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
button:active{
    box-shadow: -5px -5px 15px #FEFEFE, 5px 5px 15px #DCDCDC, inset 5px 5px 10px #DCDCDC, inset -5px -5px 10px #FEFEFE;
}

.input-container{
    display: flex;
    flex-direction: column;
}

input{
    padding: 1rem 1rem;
    color: #333333;
    border: none;
    background: #ededed;
    box-shadow: -5px -5px 15px #FEFEFE, 5px 5px 15px #DCDCDC, inset 5px 5px 10px #DCDCDC, inset -5px -5px 10px #FEFEFE;
    border-radius: 1rem;
}
